@import url("https://use.typekit.net/jmk3xov.css");

:root {
  --dark-bg: rgba(15, 15, 15, 0.97);

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body,html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
  flex-grow: 1;
}

.text {
  width: 50%;
  background: black;
}

#canvasContainer {
  width: 50%;
  height: 100%;
}

canvas {
  display: block;
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

header {
    font-size: 2.5rem;
    padding: 2rem;
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.sub-text {
  padding: 10px 40px;
}

.sub-text p {
  font-size: 2rem;
  margin: 0;
}

.location {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--dark-bg);
}

.hidden {
  display: none;
}